* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive ;
}
.img-arcoiris2 {
  width: 20%;
  height: 10%;;
}
.img-bebes-arco {
  width: 126%;
  height: 100vh;
}
.img-arcoiris {
  width: 40%;
}
.icon-google-facebook {
  height: 30px;
  width: 30px;
  margin: 1em 1em;
}
.float-right {
   float: right;
   border: solid black 1px;
   text-align: center;
}
.float-left {
  float: left;
}
h2 {
  text-align: center;
  padding-bottom: 5%;
}
.formulario input {
  display: block;
  margin: 2em;
  padding: 2%;
}
.icon-facebook-google {
  margin: 2em;
  padding: 2%;
}
.formulario{
  text-align: -webkit-center;
}
#iniciar-sesion {
  padding: 9px;
  margin: 7px;
  color: black;
  background: #DC7633;
}
@media (min-width: 360px) {
  .col-xs-12 {
    width: 100% !important;
  }
  .img-bebes-arco {
    width: 100%;
   height: 30%;
  }
  .float-right {
    border: solid black 1px;
    text-align: center;
    height: 20%;
 }
 .formulario input {
  margin: 1em;
  padding: 1%;
}
.formulario {
  text-align: -moz-center;
}
#iniciar-sesion {
  padding: 4px;
  margin: 3px;
  color: black;
  background: #DC7633;
}
.icon-facebook-google {
  margin: 1em;
  padding: 1%;
}
.contenedor-img-arcoiris {
  text-align: center;
  margin-top: 5%;
  padding-bottom: 2%;
}
h2 {
  text-align: center;
  padding-bottom: 2%;
}
}
#contenedorErrores {
  background: red;
  color: aliceblue;
}
@media (min-width: 414px) {
  .col-xs-12 {
    width: 100% !important;
  }
  .img-bebes-arco {
    width: 100%;
   height: 30%;
  }
  .float-right {
    border: solid black 1px;
    text-align: center;
    height: 20%;
    width: 100%;
 }
 .formulario input {
  margin: 1em;
  padding: 1%;
}
.formulario {
  text-align: -moz-center;
}
#iniciar-sesion {
  padding: 4px;
  margin: 3px;
  color: black;
  background: #DC7633;
}
.icon-facebook-google {
  margin: 1em;
  padding: 1%;
}
.contenedor-img-arcoiris {
  text-align: center;
  margin-top: 4%;
  padding-bottom: 1%;
}
h2 {
  text-align: center;
  padding-bottom: 1%;
}
}
@media (min-width: 700px) {
  .col-lg-8 {
    width: 66,66% !important;
  }
  .col-lg-6 {
    width: 50% !important;
  }
  .float-right {
    position: absolute;
    float: right;
    border: none;
    padding-top: 8%;
    margin-left: 65%;
    text-align: center;
    height: 80%;
    width: 30%;
    color: black;
 }
 .formulario input {
  margin: 1em;
  padding: 1%;
}
.formulario {
  text-align: -moz-center;
  color:rgba(5, 5, 5, 0.8);
  background:rgba(146, 197, 150, 0.3);
  font-size: 17px;
}
#iniciar-sesion {
  padding: 4px;
  margin: 3px;
  color: black;
  background: #DC7633;
}
.icon-facebook-google {
  margin: 1em;
  padding: 1%;
}
.contenedor-img-arcoiris {
  text-align: center;
  margin-top: 4%;
  padding-bottom: 1%;
}
h2 {
  text-align: center;
  padding-bottom: 1%;
}
}
.col-xs-1 {
  width: 8.33% !important;
}
.col-xs-2 {
  width: 16.66% !important;
}
.col-xs-3 {
  width: 25% !important;
}
.col-xs-4 {
  width: 33,33% !important;
}
.col-xs-5 {
  width: 41,66% !important;
}
.col-xs-6 {
  width: 50% !important;
}
.col-xs-7 {
  width: 58,33% !important;
}
.col-xs-8 {
  width: 66,66% !important;
}
.col-xs-9 {
  width: 75% !important;
}
.col-xs-10 {
  width: 83,33% !important;
}
.col-xs-11 {
  width: 91,66% !important;
}
.col-xs-12 {
  width: 100% !important;
}