* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor-form {
    background: #ff9c33;
    text-align: center;
    border-radius: 20px;
}
.icon-google {
    width: 40px;
    height: 40px;
}
.icon-facebook {
    width: 40px;
    height: 40px;
}
.toggle {
    padding: 4%;
}
.f-l{
    float: left;
}
.col-xs-12 {
    width: 100%;
}
@media(min-width: 1000px) {
    .col-lg-6 {
        width: 50%;
       height: 100vh;
}

.col-xs-12 {
    height: 100vh;
}
}